.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color:  #40a8c4;
  background:  #f9f9f9;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #40a8c4;
}

.Weather ul {
  margin: 0;
  padding: 0;

}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #40a8c4;
}

.Weather .temperature {
  font-weight: bold;
  color: #40a8c4;
  font-size: 58px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 55px;
  position: relative;
  top: -75px;

}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color:black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -86px;
}